.home-page {
  background-color: #1c1d2b
}

.item,
.titre {
  font-family: "Lato", sans-serif
}

.titre {
  font-weight: 600
}

.item {
  font-size: 20px;
  cursor: pointer;
  color: #fff
}

.item:hover {
  color: #04c2f1
}

.header,
.item {
  font-weight: 600
}

.header span,
ngx-typed-js {
  color: #04c2f1;
  font-family: "Lato", sans-serif
}

.header-img {
  width: 60%;
  filter: drop-shadow(10px 10px 10px #04c2f1);
  border-radius: 75%
}

.social-links,
.social-links i {
  aspect-ratio: 1;
  transition: box-shadow .3s ease;
  border-radius: 50%
}

.social-links {
  color: #04c2f1;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: 4px solid #04c2f1;
  outline: 0
}

.header-button,
.social-links :hover {
  background-color: #04c2f1;
  color: #1c1d2b
}

.social-links i {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%
}

.header-button {
  border: 0;
  outline: 0;
  border-radius: 25px;
  transition: box-shadow .3s ease;
  box-shadow: 0 0 10px #04c2f1;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  text-decoration: none
}

.header-button:hover,
.social-links :hover {
  box-shadow: 0 0 50px #04c2f1
}

.about-img {
  width: 90%
}

.magicpattern {
  width: 75%;
  aspect-ratio: 1;
  box-shadow: 0 0 50px #04c2f1;
  background-color: #04c2f1;
  overflow: hidden;
  position: relative;
  border-radius: 40% 50% 60% 40%;
  transform: scale(.95)
}

.about-me-description,
.about-me-title,
.skills-title {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700
}

::selection {
  background: #04c2f1;
  color: #1c1d2b
}

.contact-item i,
.skills-item,
.skills-item i {
  aspect-ratio: 1;
  transition: box-shadow .3s ease;
  border-radius: 50%
}

.skills-item {
  color: #04c2f1;
  cursor: pointer;
  width: 100px;
  height: 100px;
  border: 4px solid #04c2f1;
  outline: 0
}

.skills-item :hover {
  box-shadow: 0 0 50px #04c2f1;
  background-color: #04c2f1;
  color: #1c1d2b
}

.contact-item i,
.skills-item i {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 50px
}

.project-item {
  background-color: #2c2d3d;
  border-radius: 20px;
  aspect-ratio: 16/14
}

.project-item h6,
.project-item p {
  font-family: "Nunito Sans", sans-serif
}

.contact-item,
.project-button {
  transition: box-shadow .3s ease;
  outline: 0
}

.project-button {
  border: 0;
  color: #1c1d2b;
  background-color: #04c2f1;
  border-radius: 25px;
  box-shadow: 0 0 10px #04c2f1;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  text-decoration: none
}

.project-button:hover {
  box-shadow: 0 0 40px #04c2f1
}

.contact-item {
  color: #04c2f1;
  border-radius: 50%;
  cursor: pointer;
  aspect-ratio: 1;
  width: 100px;
  height: 100px;
  border: 4px solid #04c2f1
}

.contact-item :hover {
  box-shadow: 0 0 50px #04c2f1;
  background-color: #04c2f1;
  color: #1c1d2b
}