<div class="container-fluid home-page pb-5">
  <nav class="container d-flex justify-content-between align-items-center py-3">
    <h4 class=" titre text-white p-0 m-0">Portfolio.</h4>
    <div class=" items d-none d-lg-flex align-items-center">
      <div [routerLink]="['/']" fragment="about" class="item  mx-4">About me</div>
      <div [routerLink]="['/']" fragment="tools" class="item  mx-4">Tools</div>
      <div [routerLink]="['/']" fragment="projects" class="item  mx-4">Projects
      </div>
      <div [routerLink]="['/']" fragment="contacts" class="item  mx-4">Contact
      </div>
    </div>
  </nav>
  <div class=" container mt-3 mb-5 row justify-content-between align-items-center mx-auto">
    <div class="col-lg-6">
      <h4 class="header  my-2 text-white">Hello,It's Me</h4>
      <h1 class="header  my-2 text-white">Hdidou Oussama</h1>
      <h4 class="header  my-2 text-white">
        And I'm a <span id="typed-output"></span>
      </h4>
      <p class="text-white ">
        Innovating Seamless Digital Experiences, Data-Driven Solutions, and
        Stunning User Interfaces.
      </p>
      <div target="_blank" class=" social-links-container d-flex align-items-center gap-4">
        @for (item of socials; track $index) {
        <a href="{{item.link}}" target="_blank"
          class="social-links text-center d-flex justify-content-center align-items-center">
          <i class="{{item.icon}} text-center d-flex align-items-center justify-content-center"></i>
        </a>
        }

      </div>
      <a href="{{CV}}" download>
        <button class=" header-button my-3 px-3 py-2">Download CV</button>
      </a>
    </div>
    <div class="col-lg-6 d-flex justify-content-center align-items-center justify-content-lg-end">
      <!-- <img class="header-img" src="img/IMG_20240114_14233011.png" alt=""> -->
      <img class=" header-img" src="img/edit-min.png" alt="" />
    </div>
  </div>
  <div id="about" class="container py-5 mt-5 row justify-content-between align-items-start mx-auto">
    <div class="col-lg-6 d-none d-lg-block ">
      <div class=" magicpattern d-flex justify-content-center align-items-end">
        <img src="img/edit-min.png" class="about-img" alt="" />
      </div>
    </div>
    <div class="col-lg-6 pt-4">
      <h4 class="about-me-title text-white ">About me</h4>
      <p class="about-me-description text-white ">
        {{About}}
      </p>
    </div>
  </div>

  <!-- <h4 class="mt-5 text-white text-center skills-title">My Skills</h4> -->
  <h5 id="tools" class="py-5 mt-5 text-white text-center skills-title ">
    Programming Languages
  </h5>
  <div class="container row justify-content-center align-items-center mx-auto ">
    @for (item of Languages; track $index) {
    <div class="col-lg-2 col-md-4 col-sm-6 p-3 d-flex align-items-center justify-content-center">
      <div class="skills-item text-center d-flex justify-content-center align-items-center">
        <i class="{{item}} text-center d-flex justify-content-center align-items-center"></i>
      </div>
    </div>
    }

  </div>
  <h5 class=" py-5 text-white text-center skills-title">
    Frameworks & Libraries
  </h5>
  <div class=" container row justify-content-center align-items-center mx-auto">
    @for (item of Frameworks; track $index) {
    <div class="col-lg-2 col-md-4 col-sm-6 p-3 d-flex align-items-center justify-content-center">
      <div class="skills-item text-center d-flex justify-content-center align-items-center">
        <i class="{{item}} text-center d-flex justify-content-center align-items-center"></i>
      </div>
    </div>

    }
  </div>
  <h5 class=" py-5 text-white text-center skills-title">Database & DevOps</h5>
  <div class=" container row justify-content-center align-items-center mx-auto">
    @for (item of DbTools; track $index) {
    <div class="col-lg-2 col-md-4 col-sm-6 p-3 d-flex align-items-center justify-content-center">
      <div class="skills-item text-center d-flex justify-content-center align-items-center">
        <i class="{{item}} text-center d-flex justify-content-center align-items-center"></i>
      </div>
    </div>
    }

  </div>
  <h5 class=" py-5 text-white text-center skills-title">AI Tools</h5>
  <div class=" container row justify-content-center align-items-center mx-auto">
    @for (item of AiTools; track $index) {
    <div class="col-lg-2 col-md-4 col-sm-6 p-3 d-flex align-items-center justify-content-center">
      <div class="skills-item text-center d-flex justify-content-center align-items-center">
        <i class="{{item}} text-center d-flex justify-content-center align-items-center"></i>
      </div>
    </div>
    }

  </div>
  <h5 id="projects" class=" py-5 text-white text-center skills-title">Latest
    Projects</h5>
  <div class=" container row justify-content-center align-items-center mx-auto">
    @for (item of projects; track $index) {
    <div class="col-lg-4 col-md-6 col-sm-6 col-12 p-2 ">
      <div class="text-white px-3 pt-5 pb-2 project-item align-content-around">
        <h6>{{item.titre}}</h6>
        <p>{{item.description}}</p>
        <button class="project-button my-1 px-3 py-2">Explore</button>

      </div>
    </div>
    }


  </div>
  <h5 id="contacts" class=" py-5 text-white text-center skills-title">Contacts</h5>
  <div class=" container row justify-content-center align-items-center mx-auto ">
    @for (item of contacts; track $index) {
    <div class="col-lg-2 col-md-4 col-sm-6 p-3 d-flex gap-4 align-items-center justify-content-center">
      <a href="{{item.link}}" target="_blank"
        class="contact-item text-center d-flex justify-content-center align-items-center">
        <i class="{{item.icon}} text-center d-flex justify-content-center align-items-center"></i>
      </a>
    </div>
    }


  </div>
</div>