<div class="container-fluid home-page">
  <nav class="container d-flex justify-content-between align-items-center py-3">
    <h4 class="titre text-white p-0 m-0">Portfolio.</h4>
    <div class="items d-flex align-items-center">
      <div class="item mx-4">About me</div>
      <div class="item mx-4">Tools</div>
      <div class="item mx-4">Projects</div>
      <div class="item mx-4">Contact</div>
    </div>
  </nav>
  <div class="container mt-3 mb-5 row justify-content-between align-items-center mx-auto">
    <div class="col-lg-6">
      <h4 class="header my-2 text-white">Hello,It's Me</h4>
      <h1 class="header my-2 text-white">Hdidou Oussama</h1>
      <h4 class="header my-2 text-white">
        And I'm a <span id="typed-output">FullStack Developper</span>
      </h4>
      <p class="text-white">
        Innovating Seamless Digital Experiences, Data-Driven Solutions, and
        Stunning User Interfaces.
      </p>
      <div target="_blank" class="social-links-container d-flex align-items-center gap-4">
        <a href="https://www.linkedin.com/in/oussama-hdidou-426930268/" target="_blank"
          class="social-links text-center d-flex justify-content-center align-items-center">
          <i class="fa-brands fa-linkedin-in text-center d-flex align-items-center justify-content-center"></i>
        </a>
        <a href="https://www.github.com/oussamahdidou/" target="_blank"
          class="social-links text-center d-flex justify-content-center align-items-center">
          <i class="fa-brands fa-github text-center d-flex align-items-center justify-content-center"></i>
        </a>
        <a href="https://x.com/OussamaHdidou1" target="_blank"
          class="social-links text-center d-flex justify-content-center align-items-center">
          <i class="fa-brands fa-twitter text-center d-flex align-items-center justify-content-center"></i>
        </a>
        <a href="https://www.instagram.com/oussamahdidou/" target="_blank"
          class="social-links text-center d-flex justify-content-center align-items-center">
          <i class="bi bi-instagram text-center d-flex align-items-center justify-content-center"></i>
        </a>
      </div>
      <a href="/document/CV.pdf" download>
        <button class="header-button my-3 px-3 py-2">Download CV</button>
      </a>
    </div>
    <div class="col-lg-6 d-flex justify-content-center align-items-center justify-content-lg-end">
      <!-- <img class="header-img" src="img/IMG_20240114_14233011.png" alt=""> -->
      <img class="header-img" src="img/edit.png" alt="" />
    </div>
  </div>
  <div class="container py-5 mt-5 row justify-content-between align-items-start mx-auto">
    <div class="col-lg-6">
      <div class="magicpattern d-flex justify-content-center align-items-end">
        <img src="img/edit.png" class="about-img" alt="" />
      </div>
    </div>
    <div class="col-lg-6 pt-4">
      <h4 class="about-me-title text-white">About me</h4>
      <p class="about-me-description text-white">
        Passionate and versatile Fullstack Software Engineer with a knack for
        crafting efficient, scalable, and user-centric applications. With a
        strong background in Business Intelligence, I bring data to life,
        transforming raw information into actionable insights. My expertise in
        web design ensures that every project not only functions seamlessly but
        also captivates with visually compelling and intuitive interfaces.
        Dedicated to continuous learning and innovation, I thrive on challenges
        and consistently strive to push the boundaries of technology, delivering
        solutions that exceed expectations.
      </p>
    </div>
  </div>

  <!-- <h4 class="mt-5 text-white text-center skills-title">My Skills</h4> -->
  <h5 class="py-5 mt-5 text-white text-center skills-title">
    Programming Languages
  </h5>
  <div class="container row justify-content-center align-items-center mx-auto">
    <div class="col-lg-2 col-md-4 col-sm-6 d-flex align-items-center justify-content-center">
      <div class="skills-item text-center d-flex justify-content-center align-items-center">
        <i class="devicon-csharp-line-wordmark text-center d-flex justify-content-center align-items-center"></i>
      </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 d-flex align-items-center justify-content-center">
      <div class="skills-item text-center d-flex justify-content-center align-items-center">
        <i class="devicon-html5-plain-wordmark text-center d-flex justify-content-center align-items-center"></i>
      </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 d-flex align-items-center justify-content-center">
      <div class="skills-item text-center d-flex justify-content-center align-items-center">
        <i class="devicon-css3-plain-wordmark text-center d-flex justify-content-center align-items-center"></i>
      </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 d-flex align-items-center justify-content-center">
      <div class="skills-item text-center d-flex justify-content-center align-items-center">
        <i class="devicon-javascript-plain text-center d-flex justify-content-center align-items-center"></i>
      </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 d-flex align-items-center justify-content-center">
      <div class="skills-item text-center d-flex justify-content-center align-items-center">
        <i class="devicon-typescript-plain text-center d-flex justify-content-center align-items-center"></i>
      </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 d-flex align-items-center justify-content-center">
      <div class="skills-item text-center d-flex justify-content-center align-items-center">
        <i class="devicon-java-plain-wordmark text-center d-flex justify-content-center align-items-center"></i>
      </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 d-flex align-items-center justify-content-center">
      <div class="skills-item text-center d-flex justify-content-center align-items-center">
        <i class="devicon-dart-plain-wordmark text-center d-flex justify-content-center align-items-center"></i>
      </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 d-flex align-items-center justify-content-center">
      <div class="skills-item text-center d-flex justify-content-center align-items-center">
        <i class="devicon-python-plain-wordmark text-center d-flex justify-content-center align-items-center"></i>
      </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 d-flex align-items-center justify-content-center">
      <div class="skills-item text-center d-flex justify-content-center align-items-center">
        <i class="devicon-php-plain text-center d-flex justify-content-center align-items-center"></i>
      </div>
    </div>
  </div>
  <h5 class="py-5 text-white text-center skills-title">
    Frameworks & Libraries
  </h5>
  <div class="container row justify-content-center align-items-center mx-auto">
    <div class="col-lg-2 col-md-4 col-sm-6 d-flex align-items-center justify-content-center">
      <div class="skills-item text-center d-flex justify-content-center align-items-center">
        <i class="devicon-dotnetcore-plain text-center d-flex justify-content-center align-items-center"></i>
      </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 d-flex align-items-center justify-content-center">
      <div class="skills-item text-center d-flex justify-content-center align-items-center">
        <i class="devicon-laravel-original text-center d-flex justify-content-center align-items-center"></i>
      </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 d-flex align-items-center justify-content-center">
      <div class="skills-item text-center d-flex justify-content-center align-items-center">
        <i class="devicon-nodejs-plain-wordmark text-center d-flex justify-content-center align-items-center"></i>
      </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 d-flex align-items-center justify-content-center">
      <div class="skills-item text-center d-flex justify-content-center align-items-center">
        <i class="devicon-angular-plain text-center d-flex justify-content-center align-items-center"></i>
      </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 d-flex align-items-center justify-content-center">
      <div class="skills-item text-center d-flex justify-content-center align-items-center">
        <i class="devicon-bootstrap-plain text-center d-flex justify-content-center align-items-center"></i>
      </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 d-flex align-items-center justify-content-center">
      <div class="skills-item text-center d-flex justify-content-center align-items-center">
        <i class="devicon-jquery-plain-wordmark text-center d-flex justify-content-center align-items-center"></i>
      </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 d-flex align-items-center justify-content-center">
      <div class="skills-item text-center d-flex justify-content-center align-items-center">
        <i class="devicon-flask-original text-center d-flex justify-content-center align-items-center"></i>
      </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 d-flex align-items-center justify-content-center">
      <div class="skills-item text-center d-flex justify-content-center align-items-center">
        <i class="devicon-flutter-plain text-center d-flex justify-content-center align-items-center"></i>
      </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 d-flex align-items-center justify-content-center">
      <div class="skills-item text-center d-flex justify-content-center align-items-center">
        <i class="devicon-swagger-plain text-center d-flex justify-content-center align-items-center"></i>
      </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 d-flex align-items-center justify-content-center">
      <div class="skills-item text-center d-flex justify-content-center align-items-center">
        <i class="devicon-git-plain text-center d-flex justify-content-center align-items-center"></i>
      </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 d-flex align-items-center justify-content-center">
      <div class="skills-item text-center d-flex justify-content-center align-items-center">
        <i class="devicon-figma-plain text-center d-flex justify-content-center align-items-center"></i>
      </div>
    </div>
  </div>
  <h5 class="py-5 text-white text-center skills-title">Database & DevOps</h5>
  <div class="container row justify-content-center align-items-center mx-auto">
    <div class="col-lg-2 col-md-4 col-sm-6 d-flex align-items-center justify-content-center">
      <div class="skills-item text-center d-flex justify-content-center align-items-center">
        <i class="devicon-mysql-plain-wordmark text-center d-flex justify-content-center align-items-center"></i>
      </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 d-flex align-items-center justify-content-center">
      <div class="skills-item text-center d-flex justify-content-center align-items-center">
        <i
          class="devicon-microsoftsqlserver-plain-wordmark text-center d-flex justify-content-center align-items-center"></i>
      </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 d-flex align-items-center justify-content-center">
      <div class="skills-item text-center d-flex justify-content-center align-items-center">
        <i class="devicon-postgresql-plain-wordmark text-center d-flex justify-content-center align-items-center"></i>
      </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 d-flex align-items-center justify-content-center">
      <div class="skills-item text-center d-flex justify-content-center align-items-center">
        <i class="devicon-oracle-original text-center d-flex justify-content-center align-items-center"></i>
      </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 d-flex align-items-center justify-content-center">
      <div class="skills-item text-center d-flex justify-content-center align-items-center">
        <i class="devicon-azuresqldatabase-plain text-center d-flex justify-content-center align-items-center"></i>
      </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 d-flex align-items-center justify-content-center">
      <div class="skills-item text-center d-flex justify-content-center align-items-center">
        <i class="devicon-mongodb-plain-wordmark text-center d-flex justify-content-center align-items-center"></i>
      </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 d-flex align-items-center justify-content-center">
      <div class="skills-item text-center d-flex justify-content-center align-items-center">
        <i class="devicon-azure-plain text-center d-flex justify-content-center align-items-center"></i>
      </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 d-flex align-items-center justify-content-center">
      <div class="skills-item text-center d-flex justify-content-center align-items-center">
        <i class="devicon-azuredevops-plain text-center d-flex justify-content-center align-items-center"></i>
      </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 d-flex align-items-center justify-content-center">
      <div class="skills-item text-center d-flex justify-content-center align-items-center">
        <i class="devicon-docker-plain-wordmark text-center d-flex justify-content-center align-items-center"></i>
      </div>
    </div>
  </div>
  <h5 class="py-5 text-white text-center skills-title">AI Tools</h5>
  <div class="container row justify-content-center align-items-center mx-auto">
    <div class="col-lg-2 col-md-4 col-sm-6 d-flex align-items-center justify-content-center">
      <div class="skills-item text-center d-flex justify-content-center align-items-center">
        <i class="devicon-tensorflow-original text-center d-flex justify-content-center align-items-center"></i>
      </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 d-flex align-items-center justify-content-center">
      <div class="skills-item text-center d-flex justify-content-center align-items-center">
        <i class="devicon-opencv-plain-wordmark text-center d-flex justify-content-center align-items-center"></i>
      </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 d-flex align-items-center justify-content-center">
      <div class="skills-item text-center d-flex justify-content-center align-items-center">
        <i class="devicon-scikitlearn-plain text-center d-flex justify-content-center align-items-center"></i>
      </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 d-flex align-items-center justify-content-center">
      <div class="skills-item text-center d-flex justify-content-center align-items-center">
        <i class="devicon-pytorch-original text-center d-flex justify-content-center align-items-center"></i>
      </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 d-flex align-items-center justify-content-center">
      <div class="skills-item text-center d-flex justify-content-center align-items-center">
        <i class="devicon-keras-plain text-center d-flex justify-content-center align-items-center"></i>
      </div>
    </div>
  </div>
  <h5 class="py-5 text-white text-center skills-title">Latest Projects</h5>
  <div class="container row justify-content-center align-items-center mx-auto">
    <div class="col-lg-4 p-3 ">
      <div class="project-item rounded">


      </div>
    </div>
    <div class="col-lg-4 p-3 ">
      <div class="project-item rounded">


      </div>
    </div>
    <div class="col-lg-4 p-3 ">
      <div class="project-item rounded">


      </div>
    </div>

  </div>
</div>